.header{
    background-color:#023E73;
   padding-top: 10px;
   padding-bottom: 10px;
    
}
body {
 
    overflow-x: hidden;
}


.header h1{

    font-size: 25px;
    color: white; 
    padding-bottom: 5px; 
    padding-left: 50px;

}
.header a{
    color: white;
}


.welcome hr{
    border: 0.5px solid;
    border-color: #82C0D9;
}
/* .poster img{
    height: 300px;
    width: 200px;
} */

.poster img{
    opacity: 1;
    display: block;
    width: 100%;
    height: 450px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.poster{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.book{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poster:hover .book{
    opacity: 1;
    transition: 0.5s ease;
}

.poster img:hover{
    opacity: 0.3;
    transition: 0.5s ease;
}
hr {
    /* display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; */
    border: 0.5px solid;
    border-color: white;
}


.footer{
    background-color:rgb(12, 79, 138);
    padding-top: 5px;
    padding-bottom: 1px;
    margin-top: 25px;
}

#footer_text{
    padding-left: 50px;
    color: white;
    margin-top: 10px;
}
.more{
    padding-top: 10px;
    padding-bottom: 20px;
}
.more_content{
    background-color: rgb(207, 239, 252);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid white;
    border-top-width: 10px;
}

.more_content p{
    font-size: small;
}

.col_seat label{

    padding-top: 1.75px;

}









