th, td{
    padding: 25px;
}
input[type=radio] {
    position: relative;
    cursor: pointer;
}
input[type=radio]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
input[type=radio]:checked:before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
            background-color:rgb(28, 156, 67);
            border-radius: 15px;
}
input[type=radio]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
    border-radius: 15px;
}

